<h1>Welcome Earthling!</h1>
<h2> 
<ul>
    <%= link_to "Study the Scientists", scientists_path %>
    <br>
    <%= link_to "Adventure to Missions", missions_path %>
    <br>
    <%= link_to "Orbit Around the Planets", planets_path %>
</ul>
</h2>